services:
- type: web
  name: mpc-be
  runtime: docker
  plan: starter
  dockerfilePath: backend/Dockerfile
  dockerContext: backend
  envVars:
  - key: ASHBY_API_KEY
    sync: false
  - key: FATHOM_API_KEY
    sync: false
  - key: OPENAI_API_KEY
    sync: false
  - key: EMAIL_HOSTNAME
    sync: false
  - key: EMAIL_USERNAME
    sync: false
  - key: EMAIL_PASSWORD
    sync: false
  - key: EMAIL_PORT
    sync: false
  - key: LEMLIST_API_KEY
    sync: false
  - key: CELERY_RESULT_BACKEND
    fromService:
      type: keyvalue
      name: redis-broker
      property: connectionString
  - key: CELERY_BROKER_URL
    fromService:
      type: keyvalue
      name: redis-broker
      property: connectionString
  - key: SUPABASE_JWT_SECRET
    sync: false
  - key: SUPABASE_SECRET_KEY
    sync: false
  - key: SUPABASE_URL
    sync: false
  region: oregon


- type: worker
  name: celery-worker
  runtime: docker
  plan: starter
  dockerfilePath: backend/Dockerfile.worker
  dockerContext: backend
  envVars:
  - key: OPENAI_API_KEY
    sync: false
  - key: APOLLO_API_KEY
    sync: false
  - key: LEMLIST_API_KEY
    sync: false
  - key: SUPABASE_JWT_SECRET
    sync: false
  - key: SUPABASE_SECRET_KEY
    sync: false
  - key: SUPABASE_URL
    sync: false
  - key: CELERY_RESULT_BACKEND
    fromService:
      type: keyvalue
      name: redis-broker
      property: connectionString
  - key: CELERY_BROKER_URL
    fromService:
      type: keyvalue
      name: redis-broker
      property: connectionString
  region: oregon

- type: web
  name: mpc-fe
  runtime: static
  envVars:
  - key: VITE_APP_API_URL
    sync: false
  buildCommand: npm run build
  staticPublishPath: dist
  routes:
  - type: rewrite
    source: /*
    destination: /index.html
  rootDir: frontend

- type: keyvalue
  name: redis-broker
  plan: starter
  region: oregon
  maxmemoryPolicy: noeviction
  ipAllowList: []